# Values template-init.sh replaces on first use. Deleted by the init run.
OLD_NAME='template-swift-macos'
OLD_SNAKE='template_swift_macos'
OLD_DESC='macOS Swift app template with CI and docs.'
OLD_YEAR='2026'
OLD_STACK_LABEL='macOS Swift'
